/******************************************************************************
 * GENERAL
 *****************************************************************************/

html, body {
  	height: 100%;
}

body {
  	background: #f1f1f1;
}

.footer {
	background-color: #34495E;
  	color: #fff;

  	font-size: 1.5rem;
  	padding-top: 40px;
  	padding-bottom: 40px;
  	margin-top: 20px;
  	text-align: center;
}

.logo-text {
  	color: #2ea485;
  	display: inline;
  	margin-left: .5em;
}

.button-clear {

}

.button-filled {

}



/******************************************************************************
 * INDEX PAGE
 *****************************************************************************/

.navbar-home {
	background: transparent;
	border: 0;
	padding: 1em;
	margin: 0;
}

.housing-form-container {
  	margin-bottom: 4em;
  	padding-top: 3em;
}

.housing-form-summary {
 	margin-bottom: 3em;
}

.section {
  text-align:center;
  background: white;
  padding:10px;
  padding-bottom: 10px;
}

.landing-image {
  height: 650px;

  background: url('/images/cliff-backg.jpg') #22A7F0 center no-repeat;
  background-size: cover;
}

.landing-image h1 {
	font-size: 7rem;
	color: #fff;

	text-align: center;
	margin: 0;
	padding-top: 200px;
}

.landing-image div {
	margin: auto;
}

.landing-image h2 {
	color: #fff;

	margin-top: 35px;
	text-align: center;
}

.portfolio-item {
    margin-top: 25px;
}



/******************************************************************************
 * MAIN NAVBAR TEXT
 *****************************************************************************/

.promo {
  	background: #ffffff;
}

.promo-content {
  	text-align: center;
  	padding: 10rem 0;
}

.promo-headline {
  	font-size: 5em;
  	line-height: 1;
  	font-weight: 800;
}

.promo-subhead {
  	font-size: 1.4em;
  	font-weight: 200;
 	letter-spacing: .05em;
}

#login-dp {
	min-width: 200px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block {
    font-size:12px
}
#login-dp .bottom {
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}



/******************************************************************************
 * MAP PAGE
 *****************************************************************************/

.navbar-map {
	border: 0;
	border-radius: 0;

	padding: 1em;
	background-color: #26A65B;
}

.navbar-map .logo-text {
	color: white;
}

.map-container {
 	border-radius: 5px;
 	border: 1px solid lightgray;
 	height: 100%;
 	position: relative;
}

.map-outer-container {
 	height: 600px;
 	margin: 0 15px;
}

.map-table-container {
	margin: 20px 15px;
}

#map {
	height: 100%;
	width: 100%;
}

.thumbnail-wrapper {
 	margin: 0;
}
