<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Search | Outdoor Adventure</title>
    <meta name="description" content="Search outdoor vacation spots here">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="promo">
      <div class="promo-mask">

        <nav class="navbar navbar-default navbar-home" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">
                <h3 class="logo-text">Outdoor Adventure</h3>
              </a>
            </div>
          </div>
        </nav>

        <div class="promo-content">
          <div class="promo-headline">
            Go smell the roses!
          </div>
          <div class="promo-subhead">
            Find outdoor spots to get away
          </div>
        </div>
      </div>
    </div>

    <div class="housing-form-container container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h2 class="text-center">
            Start Here
          </h2>
          <p class="text-center housing-form-summary">
            Let's find a destination that best matches you. 
          </p>
          
          <form th:action="@{/}" th:object="${form}" method="post">
            <div class="form-group">
              <label for="">
                City in Texas
              </label>
              <select class="form-control" th:field="*{city}">
                <option value="Amarillo">Amarillo, TX</option>
                <option value="Austin">Austin, TX</option>
                <option value="College Station">College Station, TX</option>
                <option value="Corpus Christi">Corpus Christi, TX</option>
                <option value="Dallas">Dallas, TX</option>
                <option value="Fort Worth">Fort Worth, TX</option>
                <option value="Houston">Houston, TX</option>
                <option value="Lubbock">Lubbock, TX</option>
                <option value="San Antonio">San Antonio, TX</option>
                <option value="Waco">Waco, TX</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="">Range from Selected City</label>
              <select class="form-control" th:field="*{radius}">
                <option value="5">5 miles</option>
                <option value="10">10 miles</option>
                <option value="20">20 miles</option>
                <option value="30">30 miles</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="">Activities</label>
              <select class="form-control" th:field="*{activity}">
                <option value="camping">Camping</option>
                <option value="hiking">Hiking</option>
                <option value="biking">Biking</option>
                <option value="fishing">Fishing</option>
                <option value="climbing">Climbing</option>
                <option value="hang_gliding">Hang gliding</option>
                <option value="paddle_boarding">Paddle Board</option>
                <option value="lakes">Lakes</option>
                <option value="sailing">Sailing</option>
                <option value="kayaking">Kayaking</option>
                <option value="tubing">Tubing</option>
                <option value="hunting">Hunting</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="">Rating</label>
              <select class="form-control" th:field="*{rating}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            
           	<div class="form-group">
              <label for="">Vacations with Discounts</label>
              <select class="form-control" th:field="*{deals}">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="">
              		Group Size
              </label>
              <input type="text" class="form-control" th:field="*{groupSize}" />
            </div>
            
            <button type="submit" class="btn btn-primary btn-lg btn-block">Find Vacations</button>
          </form>
        </div>
      </div>
    </div>
    
    <div class="footer">
      Designed and created by 2Legit2Quit.
    </div>

    <!-- build:js scripts/main.js -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    
</body>
</html>
