<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Search | Outdoor Adventure</title>
  <meta name="description" content="Search outdoor vacation spots here">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/global.css">
  <!-- endbuild -->

</head>
<body>
  <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Navbar -->
  <div class="promo">
    <div class="promo-mask">
      <nav class="navbar navbar-default navbar-home" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <h3 class="logo-text">Outdoor Adventure</h3>
            </a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">Already have an account?</p></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
              <ul id="login-dp" class="dropdown-menu">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      <form class="navbar-form navbar-right">
                        <div class="form-group">
                          <input type="text" class="form-control" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-default">Sign In</button>
                      </form>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <!-- Landing Image -->
  <section class="landing-image">
	<h1><span>Explore. Discover. Live.</h1>
    <h2>Find outdoor spots you'll enjoy</h2>
	
	<center>
      <a role="button" class="btn btn-default button-clear" href="#default-searches">Express Search</a>
      <a role="button" class="btn btn-default button-filled" href="#custom-search">Custom Search</a>
    </center>
  </section>
  
  <!-- Andy's Row -->
  <div class="container" id="default-searches">
  	<h3><center>Express Searches</center></h3>
  	<p>Don't spend time typing criteria, find results immediately</p>
    <!-- First row -->
    <div class="row">
      <div class="col-md-4 portfolio-item">
        <a role="button" href="/express1">Camping near Dallas, TX</a>
      </div>    
      <div class="col-md-4 portfolio-item">
        <a role="button" href="/express2">Biking near Houston, TX</a>
      </div>      
      <div class="col-md-4 portfolio-item">
        <a role="button" href="/express3">Hiking near Austin, TX</a>
      </div>
    </div>
  </div>   
  
  <div class="row">
	  <div class="col-md-12">
	    <div class="section">
	      <h3>Instructions or Something</h3>
	      <p><center>Some other text here.</center></p>
	      </div>
	    </div>
	  </div>
  </div>

  <!-- Form -->
  <div class="housing-form-container container-fluid" id="custom-search">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form action="#" th:action="@{/}" th:object="${form}" method="post">
    	   <div th:if="${form.getCityError()} == true">
           <p>
             <b>
               <span class="error">Please enter a city.</span>
             </b>
           </p>
         </div>
         <div class="form-group">
           <label for="">
             City in Texas
           </label>
           <select class="form-control" th:field="*{city}">
             <option value="Amarillo">Amarillo, TX</option>
             <option value="Austin">Austin, TX</option>
             <option value="College Station">College Station, TX</option>
             <option value="Corpus Christi">Corpus Christi, TX</option>
             <option value="Dallas">Dallas, TX</option>
             <option value="Fort Worth">Fort Worth, TX</option>
             <option value="Houston">Houston, TX</option>
             <option value="Lubbock">Lubbock, TX</option>
             <option value="San Antonio">San Antonio, TX</option>
             <option value="Waco">Waco, TX</option>
           </select>
         </div>

         <div class="form-group">
            <label for="">Range from Selected City</label>
            <select class="form-control" th:field="*{radius}">
              <option value="5">5 miles</option>
              <option value="10">10 miles</option>
              <option value="15">15 miles</option>
              <option value="20">20 miles</option>
              <option value="30">30 miles</option>
            </select>
          </div>

          <div class="form-group">
            <label for="">Activity</label>
            <select class="form-control" th:field="*{activity}">
              <option value="campground">Camping</option>
              <option value="hiking">Hiking</option>
              <option value="biking">Biking</option>
              <option value="fishing">Fishing</option>
              <option value="climbing">Climbing</option>
              <option value="hang_gliding">Hang gliding</option>
              <option value="paddle_boarding">Paddle Board</option>
              <option value="lakes">Lakes</option>
              <option value="sailing">Sailing</option>
              <option value="kayaking">Kayaking</option>
              <option value="tubing">Tubing</option>
              <option value="hunting">Hunting</option>
            </select>
          </div>

          <div class="form-group">
            <label for="">Max price</label>
            <select class="form-control" th:field="*{maxPrice}">
              <option value="0">0 - Free</option>
              <option value="1">1 - Cheap</option>
              <option value="2">2 - Affordable</option>
              <option value="3">3 - Moderate</option>
              <option value="4">4 - Expensive</option>
            </select>
          </div>

          <div class="form-group">
            <label for="">Open Now</label>
            <select class="form-control" th:field="*{openStatus}">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Find Vacations</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Why Outdoor Adventure Section -->
<div class="row">
  <div class="col-md-12">
    <div class="section">
      <h3>Why Outdoor Adventure?</h3>
      <p>Our team here at 2Legit2Quit are dedicated to providing the best customer service possible. Outdoor Adventure represents
        months of dedicated work to produce the best outdoors vacation finder on the market. With intuitive algorithms and analysis,
        a sleek and easily navigable user interface, and state of the art API integration, Outdoor Adventure brings the best the
        vacationing world has to offer right to the user, wherever they are. Enjoy your perfect outdoor adventure.</p>
      <img class="" src="../images/Outdoor_Adventure_Logo.png">
      </div>
    </div>
  </div>
  
  <!-- Top Destinations -->
  <div class="container">
  	<h3><center>Top Destinations</center></h3>
  	<p><center>Visit the websites of our top destinations</center></p>
    <!-- First row -->
    <div class="row">
      <div class="col-md-4 portfolio-item">
        <a href="http://www.rowingdock.com/" target="_blank">
          <img class="img-responsive" src="../images/Row_Dock_Austin.jpg" alt="Austin Rowing Dock">
        </a>
      </div>    
      <div class="col-md-4 portfolio-item">
        <a href="https://texasstateaquarium.org/" target="_blank">
          <img class="img-responsive" src="../images/Texas_State_Aquarium_Corpus_Christi.jpg" alt="Corpus Christi Aquarium">
        </a>
      </div>      
      <div class="col-md-4 portfolio-item">
        <a href="http://www.klydewarrenpark.org/" target="_blank">
          <img class="img-responsive" src="../images/Kylde_Warren_Park_Dallas.jpg" alt="Dallas Kylde Warren Park">
        </a>
      </div>
    </div>
    <!-- /.row -->
    
    <!-- Second row -->
    <div class="row">
      <div class="col-md-4 portfolio-item">
        <a href="http://www.lake-grapevine.com/rockledge-park/" target="_blank">
          <img class="img-responsive" src="../images/Rockledge_Park_Ft_Worth.jpg" alt="Fort Worth Rockledge Park">
        </a>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="http://www.hermannpark.org/" target="_blank">
          <img class="img-responsive" src="../images/Hermann_Park_Conservancy_Houston.jpg" alt="Houston Hermann Park">
        </a>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="http://www.waco-texas.com/cms-parksandrecreation/page.aspx?id=310" target="_blank">
          <img class="img-responsive" src="../images/Cameron_Park_Waco.jpg" alt="Waco Cameron Park">
        </a>
      </div>
    </div>
    <!-- /.row -->
  </div>

  <!-- Footer -->
  <div class="footer">
    Designed and created by 2Legit2Quit.
  </div>

  <!-- build:js scripts/main.js -->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- endbuild -->
</body>
</html>
