<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Custom Search Results | Outdoor Adevnture</title>
    <meta name="description" content="Results from custom search in Outdoor Adventure">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Navbar -->
	<div class="promo">
	    <div class="promo-mask">
	      <nav class="navbar navbar-default navbar-home" role="navigation">
	        <div class="container-fluid">
	          <div class="navbar-header">
	            <a class="navbar-brand" href="/">
	              <h3 class="logo-text">Outdoor Adventure</h3>
	            </a>
	          </div>
	          <ul class="nav navbar-nav navbar-right">
	            <li><p class="navbar-text">Already have an account?</p></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
	              <ul id="login-dp" class="dropdown-menu">
	                <li>
	                  <div class="row">
	                    <div class="col-md-12">
	                      <form class="navbar-form navbar-right">
	                        <div class="form-group">
	                          <input type="text" class="form-control" name="username" placeholder="Username" required>
	                        </div>
	                        <div class="form-group">
	                          <input type="password" class="form-control" name="password" placeholder="Password" required>
	                        </div>
	                        <button type="submit" class="btn btn-default">Sign In</button>
	                      </form>
	                    </div>
	                  </div>
	                </li>
	              </ul>
	            </li>
	          </ul>
	        </div>
	      </nav>
	    </div>
	</div>

	<a class="btn btn-warning button-new" href="/" role="button">Make New Search</a>

    <div class="map-outer-container">
      <div class="map-container">
        <div class="map" id="map">
        </div>
      </div>  
    </div>
    
    <div class="map-table-container">
    	<div class="table-responsive">
    		<table class="table table-striped table-bordered" id="places-table">
    			<thead>
    			<tr>
    				<th>Ranking #</th>
    				<th>Name</th>
    				<th>Address</th>
    				<th>Phone</th>
    				<th>Rating</th>
    				<th>Open Now</th>
    			<tr>
    			</thead>
    			<tbody>
	    		</tbody>
	    	</table>
	    </div>
	</div>
	
    <div class="footer">
      Designed and created by 2Legit2Quit.
    </div>

    <!-- build:js scripts/main.js -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initMap" async defer></script>
</body>
</html>